
.intro {
    position: relative;
    width: 100vw;
    height: 93vh;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .intro__top {
    position: absolute;
    top: 0;
    left: 0;
    height: 15%;
    width: 100%;
    background: rgb(34 197 94);
  }
  
  .intro__panel {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 70px;
    z-index: 2;
  }
  
  .intro__picture img {
    width: 25vw;
    height: auto;
    max-height: 45vh;
    margin-bottom: 3rem;
  }
  
  .intro__title {
    color: #513a2a;
    text-transform: uppercase;
    font-size: 1.7rem;
    line-height: 1.4;
    letter-spacing: 0.5em;
    font-weight: bold;
    transform: translateX(0.25em);
    margin-bottom: 3rem;
  }
  
  .intro__subtitle {
    color: #513a2a;
    text-transform: uppercase;
    font-size: 0.9rem;
    line-height: 1.4;
    letter-spacing: 0.3em;
    font-weight: bold;
    transform: translateX(0.25em);
  }
  
  @media (min-width: 450px) {
    .intro__title {
      font-size: 2rem;
    }
    .intro__subtitle {
      font-size: 1rem;
    }
  }
  
  @media (min-width: 768px) {
    .intro__title {
      font-size: 3rem;
      letter-spacing: 0.8em;
    }
  }
  
  .heading,
  .card__title,
  .card-h__title {
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    line-height: 1.6;
    letter-spacing: 0.1em;
    color: #513a2a;
    margin-bottom: 1em;
  }
  
  .heading--display {
    font-size: 1.8rem;
    margin-bottom: 4rem;
  }
  
  .heading--header {
    position: relative;
    font-size: 1.3rem;
    margin-bottom: 3rem;
  }
  
  .heading--title,
  .card__title,
  .card-h__title {
    font-size: 1.1rem;
    margin-bottom: 1rem;
  }
  
  @media (min-width: 768px) {
    .heading--display {
      font-size: 2.3rem;
      margin-bottom: 6rem;
    }
    .heading--header {
      font-size: 1.7rem;
      margin-bottom: 5rem;
    }
  }
  
  .section {
    position: relative;
    width: 100vw;
    min-height: 640px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .section--padding {
    padding-bottom: 5rem;
  }
  
  .container {
    width: 100vw;
    margin-inline: auto;
    max-width: 1140px;
  }
  
  .grids {
    width: 100%;
    display: grid;
    position: relative;
    grid-gap: 5rem 16px;
    margin: 0 auto;
    grid-template-columns: 1fr;
    margin-inline: auto;
  }
  
  .grid--12 {
    grid-template-columns: 1fr;
    grid-gap: 128px;
  }
  
  
  
  @media (min-width: 768px) {
    .grid--12 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .grid--13 {
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 768px) {
    .grid--13 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .grid--123 {
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 768px) {
    .grid--123 {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  @media (min-width: 1200px) {
    .grid--123 {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
  
  .grid--2v3 {
    grid-template-columns: 1fr;
    grid-gap: 48px 64px;
  }
  
  @media (min-width: 768px) {
    .grid--2v3 {
      grid-template-columns: 2fr 3fr;
    }
  }
  
  @media (min-width: 992px) {
    .grid--2v3 {
      grid-gap: 48px 128px;
    }
  
    .container {
      height: 65vh;
    }
  }
  
  @media (max-height: 950px) {
    .intro {
      min-height: 887px;
    }
  }
  
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -999;
  }
  
  .bg--center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .card-h {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  
  @media (min-width: 992px) {
    .card-h {
      grid-template-columns: 1fr 1fr;
    }
  }
  
  .card-h__header {
    order: 0;
    min-height: 250px;
  }
  
  .card-h__body {
    order: 1;
  }
  
  .card-h__img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  .card-h__text {
    margin-bottom: 3rem;
    max-width: 600px;
  }
  
  .card-h--big-space {
    grid-gap: 32px 64px;
  }
  
  @media (min-width: 992px) {
    .card-h--big-space {
      grid-gap: 64px 128px;
    }
  }
  
  @media (min-width: 992px) {
    .card-h--2v3 {
      grid-template-columns: 2fr 3fr;
    }
  }
  
  @media (min-width: 992px) {
    .card-h--3v2 {
      grid-template-columns: 3fr 2fr;
    }
  }
  
  @media (min-width: 992px) {
    .card-h--rev .card-h__header {
      order: 1;
    }
  
    .card-h--rev .card-h__body {
      order: 0;
    }
  }
  
  @media (max-width: 992px) {
    .card-h {
      width: 70vw;
    }
  
    .grids {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  @media (max-width: 600px) {
    .card-h {
      width: 90vw;
    }
  
    .grids {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  
  
  .button {
    display: inline-block;
    color: #000000;
    background: #9be094;
    font-weight: bold;
    padding: 8px 32px;
    text-transform: uppercase;
    font-size: 1.1rem;
    text-align: center;
    border-radius: 4px;
    letter-spacing: 0.1em;
    cursor: pointer;
  }
  
  .button:hover {
    opacity: 0.75;
  }
  
  .img {
    width: 100%;
    max-width: 500px;
  }
  
  .img--shadow {
    box-shadow: 0 20px 50px #888;
  }
  
  .img--bw {
    filter: (100);
  }
  
  
  @media (min-height: 1300px) {
    .container {
      min-height: 93vh;
    }
  }
  