.intro {
  position: relative;
  width: 100vw;
  height: 93vh;
  min-height: 640px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-bottom: 0;
  margin-bottom: 4rem;
}

.intro__panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}

.intro__picture img {
  width: 40vw;
  max-width: 600px;
  height: auto;
  max-height: 45vh;
  margin-bottom: 3rem;
  min-width: 200px;
}

.intro__title {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.7rem;
  line-height: 1.4;
  letter-spacing: 0.5em;
  font-weight: bold;
  transform: translateX(0.25em);
  margin-bottom: 3rem;
}

.intro__subtitle {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1rem;
  line-height: 1.4;
  letter-spacing: 0.3em;
  font-weight: 500;
  transform: translateX(0.25em);
}

.button1 {
  background-color: #bbbbbb;
  color: #000000;
  font-weight: 600;
  font-size: 1.2rem;
}

.button1:hover {
  background-color: #707070;
  color: #ffffff;
}

@media (min-width: 450px) {
  .intro__title {
    font-size: 2rem;
  }
  .intro__subtitle {
    font-size: 1.4rem;
    font-weight: 600;
  }
}

@media (min-width: 640px) and (min-height: 900px) {
  .intro__panel {
    padding-top: 10rem;
  }
}

@media (min-width: 640px) {
  .button1 {
    margin-top: 3rem;
  }
}

@media (min-width: 768px) {
  .intro__title {
    font-size: 3rem;
    letter-spacing: 0.8em;
  }
}

@media (min-width: 1280px) {
  .intro__panel {
    padding-top: 2rem;
  }
}
